mat-icon{
    align-self: flex-start;
    width: 39px;
    
}
mat-list .mat-list-icon, .mat-nav-list .mat-list-item .mat-list-icon {
    width: 39px;
    height: 32px;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 4px;
}
.mat-line-text{
    padding-left: 0px;
}