<!-- <div echarts [options]="option" class="demo-chart"></div> -->
<form class="container">

    <div echarts [options]="onLineNumByMonthOption" class="small-chart" theme='primary'></div>

    <div echarts [options]="onLineuserByMonthOption" class="small-chart" theme='primary'></div>

    <div echarts [options]="onLinemacByMothOption" class="small-chart" theme='primary'></div>

    <div echarts [options]="onLineStuTeaByMonthOption" class="small-chart" theme='primary'></div>

    <div echarts [options]="onLinelogbyDayOption" class="demo-chart"></div>

    <div echarts [options]="onLineuserByDayOption" class="demo-chart" theme='primary'></div>

    <div echarts [options]="onLinemacByDayOption" class="demo-chart" theme='primary'></div>

    <div echarts [options]="onLineStuTeaByDayOption" class="demo-chart" theme='primary'></div>

</form>
