.card{
    width:300px;
    height: 360px;
    // flex: 0 0 360px;
    margin:25px;
    display: flex;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.fab-button{
    position: fixed;
    right: 32px;
    bottom:96px;
    z-index: 998;
}
