.mat-card {
    margin: 15px;
    float: left;
    width: 44.5%; // padding: 20px;
    border-radius: 10px; // display: flex;
    //    justify-content:space-between;
  }
  
  .mat-card-title {
    font-size: 18px;
  }
  
  .mat-card-header {
    text-align: center;
  }
  