<mat-card>
  <mat-card-header> 
     <mat-card-title>每月上网认证数量</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <app-month-olnum> </app-month-olnum>    
    <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header> 
     <mat-card-title>每月上网mac地址数量</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <app-month-olmac></app-month-olmac>
    <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header> 
     <mat-card-title>每月上网用户数量</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <app-month-oluser></app-month-oluser>    
    <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header> 
     <mat-card-title>每月上网学生与教师数量</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <app-month-olstu-tea></app-month-olstu-tea>    
    <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
  </mat-card-content>
</mat-card>