<mat-toolbar color="primary">
  <button mat-icon-button (click)="openSidebar()" *ngIf="(auth$ | async)?.token" >
     <mat-icon>list</mat-icon>
    </button>
  <span class="fill-remaining-space"></span>  
  <span class="font">南昌大学大数据展示平台</span>
  <span class="fill-remaining-space"></span>
  <span *ngIf="(auth$ | async)?.token"></span>
 <span><a class="logout" mat-button *ngIf="(auth$ | async)?.token" (click)="logout()" >退出</a></span>
 <mat-slide-toggle (change)="onChange($event.checked)">黑夜模式</mat-slide-toggle>
 <!-- <span>{{user.name}}</span> -->
</mat-toolbar>